body {
  font-family: "Montserrat";
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
}

.fade-out {
  animation: fade-out 1s forwards;
}

.add-tl {
  text-align: center;
  color: gray;
  font-size: 70px;
  font-family: "Montserrat";
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

form {
  display: flex;
  margin: 20px auto;
  max-width: 600px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.tasks button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

#task-list {
  padding: 0;
  width: 100%;
}

.tasks {
  max-width: 600px;
  width: 100%;
  margin: 0 auto 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 5px;
  align-items: center;
}

.task-label {
  width: 550px;
  height: auto;
  margin: 0;
}


.slide-out {
  animation: slide-out 0.5s forwards;
}

.slide-in {
  animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.task-label.slide-out {
  animation: slide-out 0.5s forwards;
}

.delete-task.hidden {
  display: none;
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
